<% layout("/layouts/boilerplate") %>
<body>
    
   <div class="row">
    <div class="col-8 offset-2">
        <form method="POST" action="/listings/<%= listing._id %>?_method=PUT"   novalidate class="needs-validation">
            <h3>Edit your Listing</h3>

          <div class="mb-2">
            <label for="title" class="form-lable">Title</label>
            <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control"  required />

            <div class="valid-feedback">
              Title looks good!
          </div>
          </div>
            

         <div class="mb-2">
            <label for="description" class="form-lable">Description</label>
            <textarea  class="form-control" required   name="listing[description]">
            <%= listing.description %></textarea>
            
         </div>

          <div class="mb-2">
            <label for="image" class="form-lable">Image</label>
            <input name="listing[image]" value="<%= listing.image %>" type="file"  class="form-control" required />
            
          </div>
          
         <div class="row">
            <div class="mb-2 col-md-4">
                <label for="price" class="form-lable">Price</label>
                <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control"  required />


                <div class="invalid-feedback">
                  Please provide price.
              </div>
                
              </div>
              
              <div class="mb-2 col-md-8">
                <label for="country" class="form-lable">Country</label>
                <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control"  required />


                <div class="invalid-feedback">
                  Please provide a valid country.
              </div>
                
              </div>
         </div>
          
          <div class="mb-2">
            <label for="location" class="form-lable">Location</label>
            <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control"  required />

            <div class="invalid-feedback">
              Please provide a valid Location.
          </div>
          </div>
             <br>
            <button class="btn btn-dark  samebtn">Edit</button>

            <br><br>
        </form>
    </div>
   </div>
</body>

