<% layout("/layouts/boilerplate") %>


<div class="row ">
  <div class="col-7 offset-2">
    <div class="card col-8 offset-2 listing-card">
      <h3><%= listing.title %></h3>
      <img src="<%= listing.image %>" class="card-img show-img" alt="Lisitng_Image">
      <div class="card-body">
      

       <p class="card-text"><%= listing.description %></p>
       <p class="card-text">&#8377; <%= listing.price.toLocaleString("en-IN") %></p>
       <p class="card-text"><%= listing.location %></p>
       <p class="card-text"><%= listing.country %></p>
       
      </div>
    </div>  
    <div class="btns">
      <a  class="btn btn-dark samebtn col-2 offset-2" href="/listings/<%= listing._id %>/edit">Edit</a>
        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
          <button class="btn btn-dark samebtn offset-5">Delete</button>
        </form>
    </div>


    <br>
  </div>

<div class="col-8 offset-3">
  <hr>
  <h4>Leave A Review:</h4>
  <form novalidate method="POST" class="mb-2 needs-validation" action="/listings/<%=listing.id %>/reviews">
    <div class="mb-3 mt-3">
      <label class="form-label" for="rating">Rating</label>
      <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
    </div>

    <div class="mb-3 mt-3">
      <label class="form-label" for="comment">Comments</label>
      <textarea required class="form-control" name="review[comment]" id="comment" cols="20" rows="5"></textarea>
      <div class="invalid-feedback">
        Please add some comments for review.
      </div>
    </div>
    <br>
    <button class="btn btn-outline-dark ">Submit</button>

   </form>

   <hr>

   <p><b>All reviews</b></p>





 <div class="row">
 <% for(review of listing.reviews) {%>
  <div class="card col-5 ms-3 mb-3">
    <div class="card-body">

      <h5 class="card-title">Abhi goyal</h5>
      <p class="card-text"><%= review.comment %></p>
      <p class="card-text"><%= review.rating %> star</p>
    </div>

    <form method="POST" class="mb-3" action="/listings/<%= listing._id %>/reviews/<%=review._id %>?_method=DELETE">
      <button class="btn btn-dark "> Delete</button>
    </form>


  </div>
  <% } %>

</div>



</div>
</div>

